<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html::head"></head>
<body>

<nav th:replace="fragments/header.html::menu"></nav>

<div class="container">

    <div class="row">

        <div class="products col-lg-10">
            <div class="row">
                <div class="alert alert-danger" role="alert">
                    This page does not exist.
                </div>
            </div>
        </div>

        <div class="aside col-lg-2">

            <div class="card col-lg-12">
                <h5 class="card-header">
                    Product Categories
                </h5>
                <div class="card-body">
                    <div th:each="category,iterStat : ${categories}">
                        <a th:attr="href='/product-categories/' + ${category.getName().toLowerCase()}" th:text="${category.getName()}" class="card-link"></a>
                    </div>
                </div>
            </div>

            <div class="card col-lg-12">
                <h5 class="card-header">
                    Suppliers
                </h5>
                <div class="card-body">
                    <div th:each="supplier,iterStat : ${suppliers}">
                        <a th:attr="href='/suppliers/' + ${supplier.getName().toLowerCase()}" th:text="${supplier.getName()}" class="card-link"></a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div th:replace="fragments/footer.html :: footer"></div>

</body>
</html>