<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html::head"></head>
<body>

<nav th:replace="fragments/header.html::menu"></nav>

<div class="container">
    <main class="main">
        <h1>Page Not Found.</h1>
        <p>Please use the given menus or links to navigate between pages.</p>
    </main>
    <aside th:replace="fragments/aside.html::aside"></aside>
</div>

<div th:replace="fragments/footer.html :: footer"></div>

</body>
</html>