<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html::head"></head>
<body>

<nav th:replace="fragments/header.html::menu"></nav>

<div class="container">

    <div class="main">

        <div class="products">
            <div class="product" th:each="prod,iterStat : ${cartItems}">
                <div class="product-thumb" th:style="'background-image: url(/static/img/product_' + ${prod.id} + '.png);'"></div>
                <div class="product-details">
                    <h5 class="product-name" th:text="${prod.getName()}"></h5>
                    <p class="product-info">
                        -&nbsp;
                        <span class="product-supplier" th:text="${prod.getSupplier().getName()}"></span>
                        <span class="product-product-category" th:text="${prod.getProductCategory().getName()}"></span>
                    </p>
                    <div class="product-buy">
                        <p class="product-price" th:text="${prod.getPrice()}"></p>
                        <span th:text="${prod.getShoppingCartQuantity()} + ' db'"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
Total price of your order:
<span th:text="${totalPrice}">100 USD</span> USD

If you find everything correct, please fill out the form to proceed
<div class="container">
    <div class="form">
        <h5>Checkout</h5>
        <form action="/checkout" method="post">
            <input type="hidden" id="total-price" name="total-price" th:value="${totalPrice}">
            <div class="input-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Enter your name..">
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Enter your email..">
            </div>
            <div class="input-group">
                <label for="phone-number">Phone number</label>
                <input type="text" id="phone-number" name="phone-number" placeholder="Enter your phone number..">
            </div>
            <h4>Billing Address</h4>
            <div class="input-group">
                <label for="billing-country">Country</label>
                <input type="text" id="billing-country" name="billing-country" placeholder="Country">
            </div>
            <div class="input-group">
                <label for="billing-city">City</label>
                <input type="text" id="billing-city" name="billing-city" placeholder="City">
            </div>
            <div class="input-group">
                <label for="billing-zip">Zip code</label>
                <input type="text" id="billing-zip" name="billing-zip" placeholder="Zip code">
            </div>
            <div class="input-group">
                <label for="billing-address">Address</label>
                <input type="text" id="billing-address" name="billing-address" placeholder="Address">
            </div>
            <h4>Shipping address</h4>
            <div class="input-group">
                <label for="shipping-country">Country</label>
                <input type="text" id="shipping-country" name="shipping-country" placeholder="Country">
            </div>
            <div class="input-group">
                <label for="shipping-city">City</label>
                <input type="text" id="shipping-city" name="shipping-city" placeholder="City">
            </div>
            <div class="input-group">
                <label for="shipping-zip">Zip code</label>
                <input type="text" id="shipping-zip" name="shipping-zip" placeholder="Zip code">
            </div>
            <div class="input-group">
                <label for="shipping-address">Address</label>
                <input type="text" id="shipping-address" name="shipping-address" placeholder="Address">
            </div>
            <input type="submit" class="button" value="Proceed to paying">
        </form>
    </div>
</div>

</body>
</html>