<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html::head"></head>
<body>

<nav th:replace="fragments/header.html::menu"></nav>

<table class="shopping-cart-content">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4">
                <div class="cart-price">Total $<span class="cart-price-num" th:text="${sumOfPrices}"></span></div>
            </td>
        </tr>
    </tfoot>
    <tbody class="shopping-cart-list">
        <tr th:each="prod, iterStat : ${cartItems}" th:id="'product-' + ${prod.getId()}" class="cart-item">
            <td>
                <img th:src="'/static/img/product_' + ${prod.getId()} + '.png'" height="85">
            </td>
            <td>
                <strong class="product-name" th:text="${prod.getName()}"></strong>
            </td>
            <td>
                <span class="item-quantity" th:text="${prod.getShoppingCartQuantity()}"></span>
            </td>
            <td>
                <span class="item-price" th:text="${prod.getPrice()}"></span>
            </td>
        </tr>
    </tbody>
</table>

<div class="container">
    <div class="form">
        <h3>Checkout</h3>
        <form action="/checkout" method="post">
            <input type="hidden" id="total-price" name="total-price" th:value="${totalPrice}">
            <div class="input-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Enter your name..">
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Enter your email..">
            </div>
            <div class="input-group">
                <label for="phone-number">Phone number</label>
                <input type="text" id="phone-number" name="phone-number" placeholder="Enter your phone number..">
            </div>
            <h4>Billing Address</h4>
            <div class="input-group">
                <label for="billing-country">Country</label>
                <input type="text" id="billing-country" name="billing-country" placeholder="Country">
            </div>
            <div class="input-group">
                <label for="billing-city">City</label>
                <input type="text" id="billing-city" name="billing-city" placeholder="City">
            </div>
            <div class="input-group">
                <label for="billing-zip">Zip code</label>
                <input type="text" id="billing-zip" name="billing-zip" placeholder="Zip code">
            </div>
            <div class="input-group">
                <label for="billing-address">Address</label>
                <input type="text" id="billing-address" name="billing-address" placeholder="Address">
            </div>
            <h4>Shipping address</h4>
            <div class="input-group">
                <label for="shipping-country">Country</label>
                <input type="text" id="shipping-country" name="shipping-country" placeholder="Country">
            </div>
            <div class="input-group">
                <label for="shipping-city">City</label>
                <input type="text" id="shipping-city" name="shipping-city" placeholder="City">
            </div>
            <div class="input-group">
                <label for="shipping-zip">Zip code</label>
                <input type="text" id="shipping-zip" name="shipping-zip" placeholder="Zip code">
            </div>
            <div class="input-group">
                <label for="shipping-address">Address</label>
                <input type="text" id="shipping-address" name="shipping-address" placeholder="Address">
            </div>
            <input type="submit" class="button" value="Proceed to paying">
        </form>
    </div>
</div>

<footer th:replace="fragments/footer.html::footer"></footer>

</body>
</html>