<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html::head"></head>
<body>

<nav th:replace="fragments/header.html::menu"></nav>

<div class="container">
    <main class="main">
        <div class="products">
            <div class="product" th:each="prod,iterStat : ${products}">
                <a th:href="'/products/' + ${prod.getId()}">
                    <div class="product-thumb" th:style="'background-image: url(/static/img/product_' + ${prod.id} + '.png'"></div>
                </a>
                <div class="product-details">
                    <a th:href="'/products/' + ${prod.getId()}" class="product-link">
                        <h5 class="product-name" th:text="${prod.getName()}"></h5>
                    </a>
                    <p class="product-info">
                        -&nbsp;
                        <span class="product-supplier" th:text="${prod.getSupplier().getName()}"></span>
                        <span class="product-product-category" th:text="${prod.getProductCategory().getName()}"></span>
                    </p>
                    <p class="product-description" th:text="${prod.getDescription()}"></p>
                    <div class="product-buy">
                        <p class="product-price" th:text="${prod.getPrice()}"></p>
                        <a th:href="'/shopping-cart?action=add&id=' + ${prod.getId()}" class="product-add-to-cart button">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <aside th:replace="fragments/aside.html::aside"></aside>
</div>

<div th:replace="fragments/footer.html :: footer"></div>

<script>

    $('#shoppingCartHandler').on('click', function(e) {
        $('.shopping-cart-content').toggleClass('opened');
    })

    function menuHandling() {
        $('#menuHandler').on('click', function() {
            $('#pageMenu').addClass('menu-opened');
        });
        $('.menu-overlay').on('click', function() {
            $('#pageMenu').removeClass('menu-opened');
        });
    }

    menuHandling();

</script>

</body>
</html>