* {
    box-sizing: border-box;
}

html, body {
    font-family: "Montserrat", sans-serif;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fefefe;
}

body {
    padding-top: 70px;
}

body.clear {
    padding-top: 0;
}

.button {
    display: inline-block;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 8px 14px;
    border-radius: 8px;
    margin: 0;
    background-color: rgba(230, 0, 35, 1);
    font-size: 16px;
    color: white;
    text-decoration: none;
    letter-spacing: 0.018em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: rgba(200, 0, 30, 1);
}

.center {
    text-align: center;
}

.error {
    color: darkred;
}

.success {
    color: darkgreen;
}

/* ----- LAYOUT STYLE ----- */
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 50px 0;
}

.main {
    width: 82%;
}

.aside {
    width: 18%;
}

.main, .aside {
    padding: 5px;
}

/* ----- ASIDE STYLES ----- */
.aside .aside-container {
    margin: 0 0 15px 0;
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    padding: 10px 15px;
}

.aside .aside-container h5 {
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #aaa;
}

.aside-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.aside-container ul li a {
    display: block;
    margin: 1px 0;
    padding: 2px 0;
    color: #64ADFF;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.aside-container ul li a:hover {
    color: #438DFF;
}


/* ----- MENU STYLES ----- */
#pageMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(70, 160, 210, 1);
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    z-index: 100;
}

#pageMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#pageMenu .menu {
    display: flex;
    flex-direction: row;
}

#pageMenu .menu .menu-item .menu-link {
    display: block;
    padding: 7px 5px;
    margin: 0 3px;
    color: #373737;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 0.015em;
    transition: color 0.25s ease-in-out;
}

#pageMenu .menu .menu-item .menu-link:hover {
    color: #131313;
}

#pageMenu .menu-handler {
    position: absolute;
    top: 17px;
    left: 20px;
    display: none;
    flex-direction: column;
    width: 40px;
    height: 36px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#pageMenu .menu-handler i {
    display: block;
    height: 4px;
    width: 30px;
    background-color: black;
    border-radius: 5px;
    margin: 2px 0;
}

#pageMenu .menu-overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer;
    z-index: 10;
}

#pageMenu.menu-opened .menu-overlay {
    display: block;
}

#pageMenu .logo {
    position: fixed;
    top: 5px;
    left: 15px;
    height: 60px;
    width: 90px;
    background-color: pink;
}

#pageMenu .shopping-cart {
    position: fixed;
    top: 10px;
    right: 15px;
}

#pageMenu .shopping-cart .shopping-cart-icon {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
}

#pageMenu .shopping-cart .shopping-cart-icon .cart-icon {
    font-size: 36px;
}

#pageMenu .shopping-cart .shopping-cart-icon .quantity-icon {
    font-size: 9px;
    font-weight: lighter;
    color: white;
    background-color: rgba(230, 0, 35, 1);
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.shopping-cart-content {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    width: 280px;
    height: 0;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    animation: cart-roll-down linear 0.3s forwards;
    overflow: hidden;
}

@keyframes cart-roll-down {
    0% {
        height: 0;
    }
    100% {
        height: 350px;
    }
}

.shopping-cart-content.opened {
    display: block;
}

.shopping-cart-content .shopping-cart-list {
    height: 280px;
    border-bottom: 2px solid #777;
    overflow-y: auto;
}

.shopping-cart-content .cart-item {
    position: relative;
    border-bottom: 1px solid #aaa;
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
}

.shopping-cart-content .cart-item .shopping-cart-item-thumb {
    height: 45px;
    width: 60px;
    margin-right: 10px;
    background: no-repeat center;
    background-size: contain
}

.shopping-cart-content .cart-item .shopping-cart-item-details {
    width: 146px;
}

.shopping-cart-content .cart-item .shopping-cart-item-details .item-name {
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: bold;
}

.shopping-cart-content .cart-item .shopping-cart-item-details .item-price {
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #999;
}

.shopping-cart-content .cart-item .shopping-cart-item-quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 44px;
}

.shopping-cart-content .cart-item .shopping-cart-item-quantity a {
    padding: 2px 4px;
    margin: 0;
    font-size: 9px;
    font-weight: bold;
    background-color: rgba(70, 160, 210, 1);
    color: white;
    text-decoration: none;
}

.shopping-cart-content .cart-item .shopping-cart-item-quantity span {
    display: block;
    margin: 0 2px;
    font-size: 12px;
    font-weight: bold;
}

.shopping-cart-details {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-cart-remove-item {
    display: block;
    font-size: 12px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 3px;
    text-decoration: none;
}

table.shopping-cart-content {
    position: relative;
    width: 80%;
    max-width: 720px;
    margin: 60px auto 0;
    display: block;
    height: auto;
    padding: 0;
    border-collapse: collapse;
    top: 0;
    left: 0;
    animation: none;
}

table.shopping-cart-content .cart-item .shopping-cart-item-quantity {
    height: auto;
    overflow: auto;
}

table.shopping-cart-content .cart-item {
    display: table-row;
    padding: 0;
}
table.shopping-cart-content .cart-item:nth-child(odd) {
    background-color: rgba(0, 0, 0, .085);
}

table.shopping-cart-content td {
    padding: 8px 16px;
    border-top: 1px solid #333;
}

table thead {
    width: 100%;
}

table th {
    padding: 10px 5px;
}

table.shopping-cart-content th:nth-child(1) { width: 30%; }
table.shopping-cart-content th:nth-child(2) { width: 40%; }
table.shopping-cart-content th:nth-child(3) { width: 10%; }
table.shopping-cart-content th:nth-child(4) { width: 20%; }

table.shopping-cart-content .cart-item .shopping-cart-item-quantity {
    width: auto;
    height: 100%;
}

table.shopping-cart-content tfoot td {
    text-align: center;
    padding: 20px 0;
}

/* ----- PRODUCT STYLE ----- */
.products, .single-product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.products .product {
    display: block;
    width: calc(100% / 3.16) !important;
    padding: 25px 25px 60px 25px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .6);
    margin-bottom: 15px;
    position: relative;
    background-color: white;
}

.single-product {
    box-shadow: 0 0 4px rgba(0, 0, 0, .6);
    background-color: white;
    padding: 20px;
}

.product-thumb {
    width: 98%;
    margin: 0 auto;
    padding-top: 70%;
    background: url('http://placehold.it/400x250/000/fff') no-repeat center;
    background-size: contain;
}

.single-product .product-thumb {
    width: 40%;
    padding-top: 20%;
}

.single-product .product-details {
    width: 58%;
    position: relative;
    padding: 20px 0 80px 0;
}

.product-details .product-link {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
}

.product-details .product-name {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 15px 0 5px 0;
    letter-spacing: 0.05em;
}

.single-product .product-details .product-name {
    font-size: 28px;
}

.product-details .product-info {
    font-size: 12px;
    color: #aaa;
    font-weight: bold;
    margin: 0 0 0 20px;
    padding: 0;
}

.single-product .product-details .product-info {
    font-size: 14px;
}

.product-details .product-description {
    margin: 10px 0 0 0;
    padding: 0;
    color: #575757;
    font-size: 14px;
    line-height: 1.35rem;
    font-weight: lighter;
    letter-spacing: 0.025em;
}

.single-product .product-details .product-description {
    font-size: 16px;
    line-height: 1.5rem;
}

.product-details .product-buy {
    position: absolute;
    bottom: 5px;
    left: 15px;
    right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-details .product-price {
    font-size: 14px;
    color: #555;
}

/* ----- FORM STYLES ------ */
.form {
    width: 40%;
    margin: 0 auto;
    padding: 20px 35px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

.form.payment {
    text-align: center;
}

.input-group {
    margin: 15px 0;
}

.input-group label, .input-group input, .input-group .input {
    display: block;
    outline: none;
}

.input-group label {
    margin-bottom: 3px;
    cursor: pointer;
}

.input-group input, .input-group .input {
    font-size: 14px;
    font-weight: lighter;
    padding: 8px 12px;
    border-radius: 6px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    border: 1px solid #353535;
    color: #353535;
    letter-spacing: 0.015em;
    width: 100%;
}

.go-back-checkout {
    display: block;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgba(230, 0, 35, 1);
    text-decoration: none;
    transition: background-color 0.3s ease-in;
}

.go-back-checkout:hover {
    background-color: rgba(180, 0, 25, 1);
}

.footer {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    background-color: #333333;
    border-top: 2px solid black;
    box-shadow: 0 0 16px rgba(0, 0, 0, .4);
}

.footer p {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 876px) {
    .button {
        font-size: 14px;
        padding: 4px 9px;
    }
    #pageMenu .logo {
        left: 50%;
        transform: translateX(-50%);
    }

    #pageMenu .menu {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -250px;
        height: 100%;
        width: 250px;
        border-right: 1px solid black;
        background-color: #373737;
        color: white;
        z-index: 11;
        transition: left 0.3s ease-out;
    }

    #pageMenu.menu-opened .menu {
        left: 0;
    }

    #pageMenu .menu .menu-item .menu-link {
        color: white;
        font-weight: bold;
        margin: 13px 25px;
        padding: 0 3px;
    }

    #pageMenu .menu-handler {
        display: flex;
    }

    .container {
        flex-direction: column;
    }
    .aside {
        order: 1;
    }
    .main {
        order: 2;
    }
    .main, .aside {
        width: 98% !important;
        display: flex;
        flex-direction: row;
    }
    .aside {
        justify-content: center;
    }
    .aside .aside-container {
        width: 49% !important;
        margin: 0 10px;
    }
    .products {
        justify-content: space-between;
    }
    .products .product {
        width: 49% !important;
        padding-bottom: 80px;
    }
    .products .product .product-price {
        font-size: 14px;
    }
    .single-product {
        flex-direction: column;
        align-items: center;
    }
    .single-product .product-thumb {
        width: 60%;
        padding-top: 50%;
    }
    .single-product .product-details {
        width: 90%;
    }
}

@media screen and (max-width: 568px) {
    .button {
        font-size: 12px;
        padding: 3px 6px;
    }
    .products .product .product-details .product-description {
        display: none;
    }
    .products .product .product-price {
        font-size: 12px;
    }
}