<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/static/img/logo/cc.png" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/static/js/dataHandler.js" defer></script>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>
<body>

<nav th:fragment="menu" id="pageMenu">
    <a href="/" class="logo"></a>
    <ul class="menu">
        <li class="menu-item">
            <a href="/" class="menu-link">Home</a>
        </li>
        <li class="menu-item">
            <a href="/product-categories" class="menu-link">Product categories</a>
        </li>
        <li class="menu-item">
            <a href="/suppliers" class="menu-link">Suppliers</a>
        </li>
        <li class="menu-item">
            <a href="/checkout" class="menu-link">Checkout</a>
        </li>
        <li class="menu-item" th:if="${username == null}">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registrationModal">
                Sign up
            </button>
            <div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" data-backdrop="" aria-labelledby="registrationModalTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalTitle">Sign up</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/registration" method="post" id="registerForm">
                            <div class="modal-body">
                                <label>Name
                                    <input type="text" name="name" id="username" required>
                                </label>
                                <label>Password
                                    <input type="password" name="password" id="password" required>
                                </label>
                                <label>Confirm password
                                    <input type="password" name="confirm-password" id="password-confirm" required>
                                </label>
                                <label>Email
                                    <input type="email" name="email" id="email" required>
                                </label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <div class="form-group"><label for="register"></label>
                                    <button type="submit" name="register-submit" value="Register" class="btn btn-primary" id="register">Register</button>
                                </div>
                            </div>
                        </form>
                        <span class="alert" id="message"></span>
                    </div>
                </div>
            </div>
        </li>
        <li class="menu-item" th:if="${username == null}">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
                Login
            </button>
            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" data-backdrop="" aria-labelledby="loginModalTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="loginModalTitle">Login</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/login" method="post" id="loginForm">
                            <div class="modal-body">
                                <label>Email
                                    <input type="email" name="email" id="loginEmail" required>
                                </label>
                                <label>Password
                                    <input type="password" name="password" id="loginPassword" required>
                                </label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <div class="form-group"><label for="register"></label>
                                    <button type="submit" name="register-submit" value="Register" class="btn btn-primary" id="login">Login</button>
                                </div>
                            </div>
                        </form>
                        <span class="alert" id="loginMessage"></span>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="/logout" th:if="${username != null}">
                <button type="button" class="btn btn-primary">
                    Logout
                </button>
            </a>
        </li>
        <li th:if="${username != null}">
            <span th:text="'Welcome ' + ${username} + '!'"></span>
        </li>
    </ul>

    <div class="menu-handler" id="menuHandler"><i></i><i></i><i></i></div>
    <div class="menu-overlay"></div>
    <div class="shopping-cart">
        <div class="shopping-cart-icon" id="shoppingCartHandler">
            <i class="fa fa-shopping-cart cart-icon"></i>
            <i class="quantity-icon" th:text="${sumOfProducts}"></i>
        </div>
        <div class="shopping-cart-content">
            <ul class="shopping-cart-list">
                <li class="cart-item" th:each="prod,iter : ${shoppingCartProducts}" th:id="'product-' + ${prod.getId()}">
                    <div class="shopping-cart-item-thumb" th:style="'background-image: url(/static/img/product_' + ${prod.id} + '.png);'"></div>
                    <div class="shopping-cart-item-details">
                        <h5 class="item-name" th:text="${prod.getName()}"></h5>
                        <small class="item-price" th:text="${prod.getPrice()}"></small>
                    </div>
                    <div class="shopping-cart-item-quantity">
                        <a th:href="'/shopping-cart?action=remove&id=' + ${prod.getId()}" class="minus-button data-handler-button">-</a>
                        <span class="item-quantity" th:text="${prod.getShoppingCartQuantity()}"></span>
                        <a th:href="'/shopping-cart?action=add&id=' + ${prod.getId()}" class="add-button data-handler-button">+</a>
                    </div>
                    <a class="fa fa-times shopping-cart-remove-item data-handler-button" th:href="'/shopping-cart?action=remove&id=' + ${prod.getId()} + '&all=true'"></a>
                </li>
            </ul>
            <div class="shopping-cart-details">
                <div class="cart-price">Total $<span class="cart-price-num" th:text="${sumOfPrices}"></span></div>
            </div>
        </div>
    </div>
</nav>

</body>
</html>